.message
  .message__info
    .message__info__user-name
      = entry.user.name
    .message__info__date
      = entry.created_at.strftime("%Y/%m/%d %H:%M")
  .message__content
    - if entry.content.present?
      %p.message__content__text
        = entry.content

