.entry {
  margin: 100px;
  h3 {
    margin-bottom: 30px;
  }
}

.message {
  display: flex;
  &__info {
    display: flex;
    margin-right: 70px;
    &__user-name {
      margin-right: 50px;
    }
  }
}
.form {
  margin: 100px;
}
