.body {
  background-color: #fafafa;
  .profile {
    padding: 100px;
    background-color: #fafafa;
    .row {
      .col-md-4.text-center {
      }
      .col-md-8{
        .row {
          .btn {
            margin-left: 20px;
            height: 40px;
          }
        }
      }
    } 
  }
}

.body {
  .devise--wrapper {
    padding-left: 200px;
    padding-top: 100px;
    h2 {
      padding-bottom: 20px;
    }
    .field {
      margin-bottom: 20px;
    }
    .actions {
      margin-bottom: 20px;
    }
  }
}

.gig__title {
  margin: 20px 0;
  font-size: 20px;
  &__lists {
    margin-bottom: 10px;
    font-size: 18px;
  }
}