.body
  .wrapper
    .header
      .header__left
        = link_to "got gigs?", root_path, method: :get
      .header__right
        .header__right--userName
          = link_to current_user.name, edit_user_path(current_user)
        .header__right--session
          - if user_signed_in?
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            = link_to "ログイン", new_user_session_path, method: :get
    .main.container
      .main__contents.row
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ1
          .main__contents__content--date
            2019/11/20(月)
          .main__contents__content--genre
            ジャズ
          .main__contents__content--need
            .main__contents__content--need--part
              ドラム
            .btn.btn-primary
              応募
          .main__contents__content--need
            .main__contents__content--need--part
              ギター
            .btn.btn-primary
              応募
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ2
          .main__contents__content--date
            2019/12/20(水)
          .main__contents__content--genre
            ポップ
          .main__contents__content--need
            .main__contents__content--need--part
              ドラム
            .btn.btn-primary
              応募
          .main__contents__content--need
            .main__contents__content--need--part
              ギター
            .btn.btn-primary
              応募
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ3
          .main__contents__content--date
            2020/01/20(日)
          .main__contents__content--genre
            ロック
          .main__contents__content--need
            .main__contents__content--need--part
              ドラム
            .btn.btn-primary
              応募
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ4
          .main__contents__content--date
            2019/11/20(月)
          .main__contents__content--genre
            ジャズ
          .main__contents__content--need
            .main__contents__content--need--part
              ボーカル
            .btn.btn-primary
              応募
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ5
          .main__contents__content--date
            2019/12/20(水)
          .main__contents__content--genre
            ポップ
          .main__contents__content--need
            .main__contents__content--need--part
              ベース
            .btn.btn-primary
              応募
          .main__contents__content--need
            .main__contents__content--need--part
              ギター
            .btn.btn-primary
              応募
        .main__contents__content.col-md-4
          .main__contents__content--name
            ギグ6
          .main__contents__content--date
            2020/01/20(日)
          .main__contents__content--genre
            ロック
          .main__contents__content--need
            .main__contents__content--need--part
              キーボード
            .btn.btn-primary
              応募
    .footer
      ©got gigs?